<h1>Follow Me</h1>

<br/>

<div class="media"> 
  <div class="media-left">
    <img src="/pics/icons/facebook.png">
  </div>
  <div class="media-body">
    <a href="#"><h3>Facebook</h3></a>
  </div>
</div>

<div class="media"> 
  <div class="media-left">
    <img src="/pics/icons/twitter_light.png">
  </div>
  <div class="media-body">
    <a href="#"><h3>Twitter</h3></a>
  </div>
</div>


<div class="media"> 
  <div class="media-left">
    <img src="/pics/icons/soundcloud.png">
  </div>
  <div class="media-body">
    <a href="#"><h3>Soundcloud</h3></a>
  </div>
</div>


<div class="media"> 
  <div class="media-left">
    <img src="/pics/icons/mail.png">
  </div>
  <div class="media-body">
    <a href="#"><h3>Email</h3></a>
  </div>
</div>

