<br/>

<div class="row">
  <div class="col-md-4">
    <div class="pull-left">
      <img src="/pics/scott.jpg" alt="scott" class="img-circle">
    </div>
  </div>

  <div class="col-md-8">
    <div class="pull-right">
    <!--
          I'm Scott Reynolds and I've played music in about...um... a lot of bands over the years. 
          The most notable entry in my resume is singer and 1/4 of the songwriting department for the L.A.
          based post-punk-pop-jazz pioneers ALL. I left that band a "few" (a relative word) years ago 
          and to make records and tour with other kickass bands: Goodbye Harry (versions 1 and 2), 
          the Pavers, Bonesaw Romance, and Scott Reynolds and the Steaming Beast, to name a few.
          Now-a-days I'm playing, recording, and touring pretty much on my own or maybe with an old friend or two.
          So watch for me. I'll probably turn up at a venue near you!
	  <br/>
    -->

	<div class="media"> 
	  <div class="media-left">
	    <img src="/pics/icons/facebook.png">
	  </div>
	  <div class="media-body">
	    <div class="media-right">
	    <a href="#"><h3>Facebook</h3></a>
	    </div>
	  </div>
	</div>

	<div class="media"> 
	  <div class="media-left">
	    <img src="/pics/icons/twitter_light.png">
	  </div>
	  <div class="media-body">
	    <a href="#"><h3>Twitter</h3></a>
	  </div>
	</div>

	<div class="media"> 
	  <div class="media-left">
	    <img src="/pics/icons/youtube.png">
	  </div>
	  <div class="media-body">
	    <a href="#"><h3>Youtube</h3></a>
	  </div>
	</div>


	<div class="media"> 
	  <div class="media-left">
	    <img src="/pics/icons/mail.png">
	  </div>
	  <div class="media-body">
	    <a href="#"><h3>Email</h3></a>
	  </div>
	</div>
    </div>
       </div>
     </div>
   </div>
</div>



