<div class="row" style="display:block; position:relative:">

<div class="media" style="position:relative"> 
  <div class="media-left media-middle">
    <img src="/pics/scott.jpg" alt="scott" class="img-circle">
  </div>
    
  <div class="media-body">
    <h3 class="media-heading"> Scott Reynolds </h3>
      <div class="media-desc">
        I'm Scott Reynolds and I've played music in about...um... a lot of bands over the years. 
        <br/>The most notable entry in my resume is singer and 1/4 of the songwriting department for the L.A.
        <br/>based post-punk-pop-jazz pioneers ALL. I left that band a "few" (a relative word) years ago 
        <br/>and to make records and tour with other kickass bands: Goodbye Harry (versions 1 and 2), 
        <br/>the Pavers, Bonesaw Romance, and Scott Reynolds and the Steaming Beast, to name a few.
        <br/>Now-a-days I'm playing, recording, and touring pretty much on my own or maybe with an old friend or two.
        <br/>So watch for me. I'll probably turn up at a venue near you!
      </div>
    </div>
</div>
</div>
