<!DOCTYPE html>
<html lang="en">
  <head>
    <title> {{title}} </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content =""> <meta name="author" content=""> 
    <link href="/bootstrap/css/bootstrap.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/navbar.css">
  </head>

  <body>
  
  <!-- 
  <br/>
  <p class="banner"> <a href="/" style="text-decoration:none; color:#000000;">Scott Reynolds</a></p>
  <br/> 
  -->

  <br/>
  <img src="/pics/banner.gif" alt="header" class="img-responsive" style="margin-left: 20px;">
  <br/>

  <nav class="navbar">
    <ul class="list-inline">
      <li class="active"><a href="/" class="no_dec">HOME</a></li>
      <li><a href="/music" class="no_dec">MUSIC</a></li>
      <li><a href="/store" class="no_dec">STORE</a></li>
      <li><a href="/blog" class="no_dec">BLOG</a></li>
      <li><a href="/about" class="no_dec">ABOUT</a></li>
    </ul>
    </div>
   </div>
  </nav>

  <!-- Navbar goes here
  <nav class="navbar navbar-inverse navbar-static-top">
    <div class="navbar-inner">
      <div class="container">
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="brand" href="/">Scott Reynolds</a>
        <div class="nav-collapse collapse">
          <ul class="nav">
          <li class="active"><a href="/">Home</a></li>
	  <li><a href="/stupidworld">Stupid World</a></li>
	  <li><a href="/music">Music</a></li>
	  <li><a href="/store">Store</a></li>
	  <li><a href="/blog">Blog</a></li>
          <li><a href="/about">About</a></li>
        </ul>
        </div>
      </div> 
    </div>
  </nav>
  -->

  <br/>

  <div class="container">
  
    {{{body}}}

    <br/><br/><br/>
  </div> 
    
  <footer class="footer">
    <div class="container">
     <p class-"text-muted"> Created by Jesus.</p>
    </div> 
  </footer> 

 <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
 <!-- Include all compiled plugins (below), or include individual files as needed -->
 <script src="/public/js/bootstrap.min.js"></script>
</body>
</html>
