<h1> CD's </h1>
<br/>

<div class="row">
  <div class="col-xs-6 col-md-3">
    <div class="thumbnail">
      <img src="/pics/local1500.jpg", alt="local"/>
      <div class="caption"> 
        <h3>Local 1500</h3> 
	<p>The Pavers first full length album.</p>
	<p><a href="#" class="btn btn-primary" role="button">Buy</a> </p>
      </div> 
    </div> 
  </div> 

  <div class="col-xs-6 col-md-3" style="background-color:#5f5f5;">
    <div class="thumbnail">
      <img src="/pics/island.jpg", alt="island"/>
      <div class="caption"> 
        <h3>Return to ...</h3> 
	<p>The Pavers second full length album.</p>
	<p><a href="#" class="btn btn-primary" role="button">Buy</a> </p>
      </div> 
    </div> 
  </div> 


  <div class="col-xs-6 col-md-3">
    <div class="thumbnail">
      <img src="/pics/steaming.jpg", alt="island"/>
      <div class="caption"> 
        <h3>Steaming Beast</h3> 
	<p>Scott Reynolds first solo album.</p>
	<p><a href="#" class="btn btn-primary" role="button">Buy</a> </p>
      </div> 
    </div> 
  </div> 

  <div class="col-xs-6 col-md-3">
    <div class="thumbnail">
      <img src="/pics/stupid.jpg", alt="stupid"/>
      <div class="caption"> 
        <h3> Stupid World </h3> 
	<p>Latest release.</p>
	<br/>
	<p><a href="#" class="btn btn-primary" role="button">Buy</a> </p>
      </div> 
    </div> 
  </div> 

</div> 


<h1> Apparel </h2>
<br/>

<p> Coming soon... </p>
