<div class="row">

  <div class="col-xs-6 col-md-4">
    <div class="thumbnail">
      <div class="caption"> 
        <h3>Local 1500</h3> 
	<p>The Pavers first full album. $15</p>
	<p><a href="#" class="btn btn-primary" role="button">Buy</a> </p>
      </div> 
    </div> 
  </div> 

  <div class="col-xs-6 col-md-4">
    <div class="thumbnail">
      <div class="caption"> 
        <h3>Return to the Island of No Return</h3> 
	<p>The Pavers second full album. $15</p>
	<p><a href="#" class="btn btn-primary" role="button">Buy</a> </p>
      </div> 
    </div> 
  </div> 

  <div class="col-xs-6 col-md-4">
    <div class="thumbnail">
      <div class="caption"> 
        <h3>Return to the Island of No Return</h3> 
	<p>Scott Reynolds newest release. $15</p>
	<p><a href="#" class="btn btn-primary" role="button">Buy</a> </p>
      </div> 
    </div> 
  </div> 

</div> 
