<title> Stupid World </title>

<h2> Stupid World </h2>

<p> This is Scott Reynolds' 2014 release. Almost entirely recorded in his bedroom. </p>

<br/>

<a href="#"><img src="/pics/stupid.jpg" alt="stupid"></a>

<p>
  Released 16 September 2014.

  <br/><br/>
  All music and lyrics written by Scott Reynolds. 
  <br/>
  All vocals sung and spoken by Scott Reynolds. 
  <br/>
  All instruments played by Scott Reynolds 

  <br/><br/>
  
  *except on Ladders Made Of Smoke which featured: Big Rob Williamson on drums, 
  Chepo Peña on bass, Stephen Egerton on cool guy guitar, and Scott Reynolds on
  nerd guitar, piano, and organ 

  <br/><br/>

  Available for purchase <a href="http://scottreynolds.bandcamp.com/album/stupid-world">here</a>.

  <br/><br/>

  Read about the story <a href="#">here</a>.

  <br/><br/><br/>

</p>
  



</body>
