<title> Stupid World </title>

<br/>

<body> 


  <iframe style="border: 0; width: 100%; height: 120px;" 
  src="http://bandcamp.com/EmbeddedPlayer/album=1406657581/
  size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/artwork=small/transparent=true/" seamless>
  <a href="http://scottreynolds.bandcamp.com/album/stupid-world">Stupid World by Scott Reynolds</a>
  </iframe>

 <p>
 
  This is Scott Reynolds' 2014 release. Almost entirely recorded in his bedroom.

  <br/> <br/>

  credits: released 16 September 2014 

  <br/><br/>
  
  All music and lyrics written by Scott Reynolds. 

  <br/><br/>
  
  All vocals sung and spoken by Scott Reynolds. 

  <br/><br/>
  
  All instruments played by Scott Reynolds 

  <br/><br/>
  
  *except on Ladders Made Of Smoke which featured: Big Rob Williamson on drums, 
  Chepo Peña on bass, Stephen Egerton on cool guy guitar, and Scott Reynolds on
  nerd guitar, piano, and organ 

  <br/><br/>
  
  PLEASE VISIT steamingbeast.weebly.com FOR LYRICS, CREDITS AND THANK-YOUS,
  AND "THE STORY OF STUPID WORLD"!!

  <br/><br/><br/>

  </p>
  


</body>
