<title> Stupid World </title>

<a href="#"><img src="/pics/stupidworld.jpg" alt="stupid"></a>

<h2> Stupid World </h2>

<p class="songlist">   
   1. Uncle Rollie 
  <br/> 2. Ladders Spaghetti Intro.
  <br/> 3. Ladders Made Of Smoke 
  <br/> 4. Cyclops 
  <br/> 5. Wog 
  <br/> 6. Mr. Charmingface 
  <br/> 7. Posie June
  <br/> 8. Today's Sermon 
  <br/> 9. What Happens When You Die 
  <br/> 10. Stupid World 
  <br/> 11. Dr. Dave 
  <br/> 12. The Truth About Tuesday 
  <br/> 13. If I'm Alright 
  <br/> 14. Beer, Gin, Crabs, And Vomit 
  <br/> 15. Boiler Room 
</p>


<p>This is Scott Reynolds' 2014 release. Almost entirely recorded in his bedroom.

  Released 16 September 2014.

  <br/><br/>
  All music and lyrics written by Scott Reynolds. 
  <br/>
  All vocals sung and spoken by Scott Reynolds. 
  <br/>
  All instruments played by Scott Reynolds 

  <br/><br/>
  
  *except on Ladders Made Of Smoke which featured: Big Rob Williamson on drums, 
  Chepo Peña on bass, Stephen Egerton on cool guy guitar, and Scott Reynolds on
  nerd guitar, piano, and organ 

  <br/><br/>

  Available for purchase <a href="http://scottreynolds.bandcamp.com/album/stupid-world">here</a>.

  <br/><br/>

  Read about the story <a href="#">here</a>.

  <br/><br/><br/>

</p>
  



</body>
