.thumb {
    width: 224px;
    height:224px;
    display:block;
}

.index_img { 
  display: inline;
}

.songlist {
  text-index; 50px;
}

.no_dec {
  text-decoration: none;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.text-muted {
  color: #777;
  margin: 20px 0;
}

.footer_text {
  text-color:#FFFFFF;
}

/* Banner image transparancy

-------------------------------------------------- */

#cf {
  position:relative;
  width:450x;
  height:480px;
  margin:0 auto;
}

#cf img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#cf img.top:hover {
   opacity:0;
}
