.thumb {
    width: 224px;
    height:224px;
    display:block;
}

.index_img { 
  display: inline;
}

.songlist {
  text-index; 50px;
}

.no_dec {
  text-decoration: none;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.text-muted {
  color: #777;
  margin: 20px 0;
}

